
*
{
    box-sizing: border-box;
    margin: 0;
}

/* ================================= 
  Base Element Styles
==================================== */

body
{
    margin: auto;
    line-height: 1.4;
    background: rgb(238, 238, 238);
    font-family: 'Libre Baskerville', 'Arial', 'sans-serif';
}

main
{
    color: rgba(48, 48, 59, .5);
    margin-bottom: 40px;
}

h1,
h2,
legend
{
    font-size: 22px;
    font-weight: 700;
    color: rgb(48, 48, 59);
}

p
{
    font-size: 15px;
    color: rgba(48, 48, 59, .5);
    margin-bottom: 20px;
}

form
{
    margin-top: 50px;
}

fieldset
{
    border: none;
}

legend
{
    margin-bottom: 20px;
}

label
{
    margin-bottom: 10px;
    font-size: 18px;
}

fieldset :first-of-type label
{
    display: block;
}

input:focus
{
    background: rgb(219, 219, 255);
}

input::placeholder
{
    text-align: right;
    padding-right: 18px;
}

input,
select
{
    background: rgb(220, 220, 220);
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 6px;
    margin-bottom: 25px;
}

option
{
    text-align: right;
}

input[type=checkbox],
input[type=radio]
{
    color: rgb(220, 220, 220);
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

textarea
{
    border-radius: 6px;
    margin-bottom: 50px;
    background: rgb(220, 220, 220);
    border: none;
    width: 100%;
    height: 140px;
}

fieldset :last-of-type label
{
    display: inline-block;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header
{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.container
{
    width: 90%;
    margin: auto;
}

.container-name
{
    width: 100%;
}

.main-footer
{
    text-align: center;
    margin: auto;
    margin-bottom: 200px;
}



/* ---- Page Elements ---- */

.container-name .name
{
    background: rgb(48, 48, 59);
    padding: 30px 0;
    margin: 0;
}

.name
{
    text-transform: uppercase;
    color: rgb(238, 238, 238);
}

.signup
{
    margin-top: 35px;
}

.p-header
{
    margin-top: 20px;
    color: rgba(48, 48, 59, .4);
    margin-bottom: 40px;
}

.hr-1
{
    border-top: 6px solid rgb(48, 48, 59);
    color: rgb(48, 48, 59);
    margin-bottom: 3px;
}

.hr-2
{
    border-top: 2.5px solid rgb(48, 48, 59);
    color: rgb(48, 48, 59);
}

.zipcode
{
    width: 60%;
}

.zipcode_label
{
    display: block;
}

.hr-3
{
    border-top: 2.5px solid rgb(48, 48, 59);
    color: rgb(48, 48, 59);
    margin-top: 13px;
    margin-bottom: 40px;
}

.btn
{
    display: block;
    width: 100%;
    font-size: 25px;
    color: rgb(238, 238, 238);
    background: rgb(72, 167, 157);
    border-radius: 6px;
    border: none;
    height: 80px;
}

.main-footer p
{
    font-size: 17px;
}

/* ------------ Media Queries 768px -------------- */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px)
{

/* ================================= 
  Base Element Styles
==================================== */

label
{
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 15px;
}

input,
select
{
    width: 60%;
    height: 40px;
}

input[type=checkbox],
input[type=radio]
{
    margin-right: 15px;
}

textarea
{
    height: 140px;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container
{
    max-width: 768px;
}

/* ---- Page Elements ---- */

.container-name .name
{
    padding: 25px 0;
}

.hr-1
{
    border-top: 4.5px solid rgb(48, 48, 59);
    color: rgb(48, 48, 59);
    margin-bottom: 1.3px;
}

.hr-2
{
    border-top: 2px solid rgb(48, 48, 59);
    color: rgb(48, 48, 59);
}

/* ---- Code snippet provided by Brian Jensen ----- */

div[class^="row"] {
    display: flex;
}

div[class^="row"] input,
div[class^="row"] select {
    flex-basis: 70%;
    flex-grow: 1;
}

div[class^="row"] label {
flex-basis: 20%;
}

.zipcode {
    max-width: 25%;
}

/* ------------------------------------------------ */

.btn
{
    font-size: 18px;
    height: 50px;
}

.main-footer p
{
    font-size: 17px;
}

}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
